a{
 color: black;
}
a:hover{
 color: #333;
}
.button{
 background: black;
 border-bottom:4px #4c4c4c solid;
}
.button:hover{
 background: rgb(43, 43, 43);
}
header .main-nav{
 float: right;
 margin-top: 30px;
 font-size: 18px;
}
header .main-nav li{
 padding-right: 20px;
}
.showcase .callout{
 text-align: center;
 padding: 30px;
 margin-bottom: 20px;
}
.products .columns {
 margin-bottom: 40px;
}

.product{
 text-align: center;
}
.product .button{
 margin-top: 10px;
}
.vertical li{
 border-bottom: 1px #ccc solid;
}
.vertical li:last-child{
 border-bottom: none;
}
footer{
 background: #333;
 text-align: center;
 color: #fff;
 margin-top: 30px;
 padding-top:20px;
 height:70px;
}
